.main-container{
    display: flex;
    flex-wrap: wrap;
}

.cust-container{
    width:500px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.cust-image-card{
    width:250px;
    height:250px;
    border-radius: 20px;
}