
.navbar {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18%;
  background: #1f2a3d;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 32px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.nav-links a:hover {
  opacity: 0.75;
}